.lettersection__heading {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 20px;
}
.lettersection__noemployees {
    font-size: large;
    font-weight: bold;
}
.lettersection {
    margin-right: 25px;
    margin-bottom: 25px;
}